:root {
    --font-color: #394867;
    --var-light: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
    /* background: rgb(242, 124, 33);
    background: linear-gradient(
            135deg,
            rgba(242, 124, 33, 1) 0%,
            rgba(0, 146, 255, 1) 100%
        )
        no-repeat; */
    /* height: 100%; */
    /* background: url("https://lh3.googleusercontent.com/-VAblLLiVSIU/WtmwRjlufdI/AAAAAAAAAAM/j15O2wggVKALnxu97khgc5Cvz3z7h2uhgCLcBGAs/w380-h234-p-e365-k-no-nd/starry_sky_galaxy_universe_sky_night_118591_1920x1080.jpg"); */
    background: url(../images/bg2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    min-height: 100vh;
}

/* Login */
.login-wrap {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 360px;
    height: 320px;
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container img {
    width: 224px;
    height: 87px;
    margin: 2rem 0;
}

.google-login,
.select-dropdown {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 30px;
    width: 260px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.select-dropdown {
    margin: 0 0 1rem;
}

.google-login img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem 0 0;
}

.login-text {
    color: var(--font-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    display: flex;
    align-items: center;
}

select {
    border: none !important;
    font-size: 18px !important;
    line-height: 20px !important;
    font-family: 'Roboto', sans-serif !important;
    color: var(--font-color) !important;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 -0.5 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='si-glyph si-glyph-triangle-down'%3E%3Ctitle%3E1237%3C/title%3E%3Cdefs%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M10.106,12.69 C9.525,13.27 8.584,13.27 8.002,12.69 L1.561,6.246 C0.979,5.665 0.722,4.143 2.561,4.143 L15.549,4.143 C17.45,4.143 17.131,5.664 16.549,6.246 L10.106,12.69 L10.106,12.69 Z' fill='%23434343' class='si-glyph-fill'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
    background-size: 1rem !important;
}

.form-select option {
    padding: 10px !important;
}

select:focus-visible,
select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

option {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 336px;
        height: 308px;
    }
    .login-container img {
        width: 179px;
        height: 70px;
    }
    .google-login,
    .select-dropdown {
        width: 240px;
        height: 48px;
        padding: 0 8px;
    }
    .form-select {
        background-size: 1rem !important;
        font-size: 18px !important;
    }
    select {
        height: 85%;
        font-size: 18px !important;
        line-height: 20px !important;
    }
    option {
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .google-login img {
        width: 22px;
        height: 22px;
    }
    .login-text {
        font-size: 18px;
        line-height: 20px;
    }
}
/*End Login*/

/*Header*/
.header-container {
    background: white;
    display: flex;
    background: #ffffff;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.header-container img {
    width: 160px;
    height: 60px;
    margin: 0.5rem 0;
}

.noti-container {
    display: flex;
    align-items: center;
}

.noti-container svg {
    width: 27px;
    height: 27px;
    margin: 0 16px;
}

.noti-container img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.login-required svg {
    margin: 0;
}

.direct-login svg {
    margin: 0 0.5rem;
}

.account-info {
    display: flex !important;
    padding: 0.75rem 1.5rem !important;
    align-items: center;
}

.account-info img {
    width: 44px;
    height: 44px;
}

.account-info:active {
    background: #fff !important;
    color: var(--font-color) !important;
}

.account-info:hover {
    border-radius: 0.375rem;
}

.account-info-wrap {
    margin: 0 1rem;
}

.account-name {
    /* margin: 0 20px !important; */
    /* display: flex !important;
    align-items: center !important; */
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
}

.account-email {
    font-size: 14px;
}

.dropdown-menu.dropdown-menu-end {
    width: 360px;
    padding: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 24px !important;
}

.account-logout {
    background: #394867 !important;
    color: #fff !important;
    padding: 10px 40px !important;
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 23px !important;
    font-family: 'Roboto', sans-serif !important;
}

.account-logout:hover {
    background: #394867;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .dropdown-menu.dropdown-menu-end {
        width: 260px;
        margin-top: 0.75rem !important;
    }
    .account-info {
        padding: 10px 16px !important;
    }
    .account-name {
        /* margin: 0 16px !important; */
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .account-logout {
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .header-container img {
        height: 40px;
        width: 120px;
        margin: 0.25rem 0;
    }
    .noti-container img {
        width: 30px;
        height: 30px;
    }
}
/*End Header*/

/*Home*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.main-wrap {
    background: #ffffff;
    /* border: 1px solid rgba(0, 0, 0, 0.11); */
    /* box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 0.5rem;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    width: 90%;
    /* height: max-content; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* padding: 2rem; */
}

.navigation-wrap {
    background-color: #ededed;
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.infomation-wrap,
.submit-wrap {
    padding: 1rem;
}

.submit-wrap {
    padding-bottom: 4rem;
}

/* Discuss */
.list-comment {
    margin-bottom: 2rem;
}

.list-comment > .row {
    /* border-top: 1px solid rgba(57, 72, 103, 0.3); */
    width: 100%;
    margin: 0;
    padding: .75rem 0;
    padding-bottom: 0;
}

/* .list-comment .row:last-child {
    border-bottom: 1px solid rgba(57, 72, 103, 0.3);
} */

.list-comment .row p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--font-color);
}

.user > .badge {
    background-color: #0063b0;
}

.user-discuss {
    width: calc(100% - 1.5rem - 44px);
    padding: 0;
}

.user-discuss .comment {
    background: rgba(57, 72, 103, 0.07);
    border-radius: .5rem;
    padding: .5rem;
    margin: .25rem 0 !important;
}

.comment span {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--font-color);
}

.user-discuss .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-discuss .user span:first-child {
    font-weight: 700;
    font-size: 1.1rem;
}

.user-discuss .user span:last-child {
    opacity: 0.8;
    font-size: .8rem;
}

.toggle-reply, .add-comment a {
    text-decoration: none;
    color: var(--font-color);
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.toggle-reply {
    padding-left: 56px;
    display: flex;
    align-items: center;
    /* margin-bottom: .5rem; */
}

.toggle-reply svg {
    margin-right: .5rem;
}

.toggle-reply:hover, .add-comment a:hover {
    color: #0063b0;
    opacity: 1;
    cursor: pointer;
}

.comment-replies {
    padding-left: 56px;
    padding-top: 0.5rem;
}

.add-comment a {
    font-size: .9rem;
}

.editor-area {
    padding: 0.5rem 0 0 0;
}

.editor-area .ck-editor {
    padding-left: 68px;
}

.editor-area .btn-submit {
    float: right;
}

.wrap-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--font-color);
}

.user-avatar > img {
    width: 44px;
    height: 44px;
}

.ck-editor__editable {
    min-height: 80px;
}

.btn-submit {
    margin-top: .5rem;
    background-color: #0063b0;
}

/*End discuss*/

.infomation-container {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    padding: 1rem 0;
}

.infomation-container img {
    width: 44px;
    height: 44px;
    margin-right: 16px;
}

.info-wrap {
    display: flex;
    align-items: center;
}

.info-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 30px;
    color: var(--font-color);
    padding: 0 60px;
}

.info-wrap-container {
    width: 100%;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.info-content-left {
    display: flex;
    align-items: baseline;
}

.info-name {
    font-weight: bold;
}

.info-name,
.info-mail,
.info-time {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--font-color);
}

.info-mail {
    margin: 0 6px;
}

.info-party,
.info-time,
.info-mail {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.8;
}

.info-party {
    opacity: 1;
}

.info-party .badge {
    margin: 0;
    background-color: #0063b0;
}

/* {
    font-size: 1.1rem;
    font-weight: 500;
} */

.mail-wrap {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 24px;
    padding: 0 7.5rem;
    /* border: 1px solid rgba(57, 72, 103, 0.3); */
    /* border-radius: 0.5rem; */
}

.process-wrap {
    padding: 0 3.75rem;
}

.process-wrap button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 8px;
    border-radius: 1.125rem;
    display: inline-flex;
    align-items: center;
    color: var(--font-color);
    padding: .25rem 1rem;
}

.process-wrap button svg {
    margin-right: .4rem;
}

.process-wrap button:hover, .process-wrap button:active, .process-wrap button:focus-visible {
    background-color: rgba(32,33,36,0.06) !important;
    color: var(--font-color) !important;
}

.process-wrap-after#accepted,
.process-wrap-after#rejected {
    display: flex;
    padding: 1rem 4.75rem 2rem;
    align-items: center;
}

.process-wrap-after-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 0.5rem;
}

.process-wrap-after-text.rejected {
    color: #dc3545;
}

.process-wrap-after-text.accepted {
    color: #4ebf19;
}

.btn.btn-back:active,
.btn.btn-back:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-back {
    /* width: fit-content;
    height: fit-content; */
    /* padding: .5rem 0 !important; */
    /* margin-top: -1rem; */
    /* display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer; */
    /* margin-right: 1rem; */
}

.sample-nav {
    display: flex;
}

.btn-back,
.btn-delete {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* border: 1px solid #000; */
    position: relative;
    padding-left: 2rem;
    margin-left: 0.25rem;
    overflow: hidden;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-back:after {
    content: url(../images/back.svg);
    left: 10px;
    position: absolute;
    top: 6px;
    bottom: 0;
}

.btn-delete:after {
    content: url(../images/delete.svg);
    left: 12px;
    position: absolute;
    top: 6px;
    bottom: 0;
}

.btn-back:hover,
.btn-delete:hover {
    border-radius: 999rem;
    width: 100px;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #fff;
    cursor: pointer;
}

.btn-delete:hover {
    width: 70px;
}

.btn-back:hover a,
.btn-delete:hover a {
    opacity: 1;
    -webkit-transition: opacity 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-back svg,
.btn-delete svg {
    width: 1.1rem;
    height: 1.1rem;
    color: var(--font-color);
}

.btn-back a,
.btn-delete a,
.sample-text {
    font-family: 'Roboto', sans-serif;
    /* font-style: normal; */
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    /* margin-left: 0.5rem; */
    color: var(--font-color);
}

@media screen and (max-width: 768px) {
    .main-wrap {
        width: 100%;
        margin: 0;
    }
    .navigation-wrap {
        border-radius: 0;
    }
    .info-wrap {
        align-items: initial;
        /* width: calc(100% - 96px); */
    }
    .info-title {
        align-items: flex-end;
        padding: initial;
    }
    .infomation-container {
        /* flex-direction: column; */
        justify-content: initial;
        align-items: initial;
    }
    .infomation-container img {
        width: 40px;
        height: 40px;
    }
    .info-wrap-container {
        width: calc(100% - 56px);
    }
    .info-content {
        display: block;
    }

    .info-name,
    .info-mail,
    .info-party,
    .info-time {
        font-size: 1rem;
        /* line-height: 1.6rem; */
        color: var(--font-color);
        /* margin: 0; */
        /* text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; */
    }
    .info-mail {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    /* .info-mail,
    .info-party,
    .info-time {
        font-size: 14px;
        font-weight: 400;
    } */
    .mail-wrap {
        margin: 0;
        font-size: 18px;
        line-height: normal;
        word-wrap: break-word;
    }
    .process-wrap {
        /* display: flex; */
        /* justify-content: space-evenly; */
        padding: 1rem 1rem 2rem;
    }
    .process-wrap button {
        font-size: 18px;
        line-height: normal;
        /* margin: initial; */
    }
    .process-wrap-after#accepted,
    .process-wrap-after#rejected {
        padding: 1rem 1rem 2rem;
    }
    .process-wrap-after svg {
        width: 2rem;
        height: 2rem;
    }
    .process-wrap-after-text {
        font-size: 18px;
    }
    .btn-back {
        /* margin: initial; */
        /* padding: 0 0 .5rem !important; */
    }
}
/*End Home*/

/*Modal*/
.modal-content {
    background: #fff;
    /* border: 1px solid #000000 !important; */
    /* border-radius: 1.6rem; */
    height: fit-content;
    /* width: 400px; */
}

.modal-body {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.modal-body svg {
    margin-right: 10px;
}

.modal-body img {
    width: 240px;
    height: 240px;
}

.modal-body .title {
    font-weight: 700;
    margin: 1rem;
}

.modal-body .sub-title {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.modal-body .button-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.modal-body .button-wrapper button {
    text-transform: uppercase;
    border: none;
}

@media screen and (max-width: 768px) {
    .modal-content {
        height: fit-content;
        margin: 0 2rem;
    }
    /* .modal-body {
        font-size: 18px;
        line-height: normal;
    } */
    .modal-body svg {
        height: 33px;
        width: 33px;
    }
}
/*End Modal*/

/* List */
.main-container {
    width: 100%;
}

img {
    width: 33px;
    height: 33px;
}

.msg-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.msg-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.msg-content-wrap {
    display: flex;
    min-width: 0;
    width: 100%;
}

.msg-name {
    /* max-width: 160px; */
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.msg-time {
    width: 150px;
    font-size: 0.9rem;
    text-align: right;
}

table {
    margin: 0 !important;
    display: inherit;
}

.table tbody {
    width: 100%;
    display: inherit;
}

tr {
    display: flex;
}

td {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

tr.newItem {
    font-weight: 700 !important;
}

td img {
    margin: 0 0.25rem 0 1rem;
}

.input-group {
    /* padding: 0; */
    border-radius: 1rem;
    /* border: 1px solid #ced4da; */
    align-items: center !important;
    padding: 0 16px;
    width: 50% !important;
    /* margin-left: 1.5rem; */
    margin-bottom: 1rem;
    /* margin-top: -0.5rem; */
    background-color: rgba(241, 243, 244, 0.24);
}

.input-group.focused {
    background-color: #fff;
}

.input-group input {
    border: none;
    padding: 6px 0;
    background-color: transparent;
}

.input-group input:focus,
.input-group input:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.input-group input::placeholder,
.input-group input.typed {
    color: #fff;
}

.input-group input:focus::placeholder,
.input-group input:focus {
    color: var(--font-color);
}

.input-group input:focus ~ .input-group-append svg {
    fill: var(--font-color);
}

.input-group-append {
    margin: 0;
    padding-left: 1rem;
}

.msg-updatetag {
    background: #0063b0;
    border-radius: 30px;
    color: white;
    width: 60px;
    font-size: 0.8rem;
    text-align: center;
    padding: 4px 10px;
    text-transform: uppercase;
    font-weight: 600;
    visibility: visible;
}

.msg-updatetag.hidden {
    visibility: hidden;
}

.list-wrap {
    width: 95%;
    padding-right: 0;
    padding-left: 0;
    height: max-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-wrapper {
    background: #fff;
    padding: 2rem 0;
    border-radius: 1rem;
}

.table-responsive::-webkit-scrollbar {
    width: 0.4rem;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 5px;
}

.table-responsive {
    height: 480px;
    overflow-y: auto;
    margin: 0 !important;
}

.tr-default,
.tr-responsive {
    background-color: #ebebeb;
    cursor: pointer;
}

.tr-default.newItem,
.tr-responsive.newItem {
    background-color: #fff;
}

.error-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.error-wrap svg {
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
    .tr-default {
        display: none;
    }

    .msg-name-responsive,
    .msg-content-responsive,
    .msg-title-responsive {
        /* text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 160px; */
        display: flex;
        min-width: 0;
        width: 100%;
        align-items: center;
    }

    .input-group {
        width: initial !important;
    }

    td {
        font-size: 0.9rem;
    }

    .msg-responsive-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 0;
    }

    .msg-title-responsive {
        font-size: 0.8rem;
    }

    .msg-content-responsive {
        font-size: 0.85rem;
    }

    .msg-content-wrap-res,
    .msg-name-wrap-res,
    .msg-title-wrap-res {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    tbody {
        margin: 0 !important;
    }

    .badge.hidden {
        visibility: hidden;
    }

    .badge {
        background-color: #0063b0 !important;
        padding: 0.4rem;
        margin-left: 0.4rem;
    }

    .table-responsive {
        /* height: 100%; */
        height: 600px;
    }
}
/* End List */

/* Spinner */
.spinner-wrap {
    height: calc(100vh - 80px);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    position: fixed;
    background-color: #a9a9a9af;
    width: 100%;
    /* height: 100vh; */
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

.spinner-border,
.spinner-text {
    z-index: 100;
    color: #ffffff;
}

.spinner-text {
    margin-top: 1rem;
}
/* End Spinner */
